@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* css accueil loading page */
html {
    min-height: 100%;
    /*assurer que HTML ait la plus grande  hauteur que la fenêtre */
    position: relative;
}

body {
    height: 100%;
    /* forcer l'élément BODY à correspondre à la hauteur de l'élément HTML */
}

.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    animation: fadeOut 3s linear 0.2s 1;
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 100;
    }

    90% {
        opacity: 1;
        z-index: 100;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* logo page d'acceuil */
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo img {
    width: 35%;
    height: auto;
}

.logo a {
    padding: 0 20px;
}

/* style localisation */
.map {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #D9D9D9;
    padding: 8px 0;
    box-shadow: #1111117a 0 -1px 2px 0px;
    position: relative;
    cursor: pointer;
}

.map i {
    margin-right: 10px;
}

p {
    font-size: 10px;
    color: #0b0b0b80;
}

.tete-page {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    position: relative;
}

.text-tete {
    padding: 0 16px;
}

.tete-page h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.tete-page p {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* bouton sur l'en tête explorer mobile */
.tete-page a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC 90%);
    cursor: pointer;
    transition: 500ms;
}

.tete-page a:hover {
    color: #1d1d11;
    box-shadow: 0 4px 6px 0 #1d1d1d;
    transition: 500ms;
}

.btn-explorer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

/* navigation page d'acceuill mobile*/

.nav__header {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.nav__header h2 {
    margin-left: 13px;
    font-size: 16px;
}

.nav__header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav__header ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 12px;
    padding: 8px 4px;
    position: relative;
    width: 87%;
    transition: 500ms;
}

.nav__header li :hover {
    background-color: #9256dc2e;
    transition: 500ms;
}

.nav__header a {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 11px;
    text-decoration: none;
    color: #111;
    width: 100%;
    padding: 15px 18px;
    box-shadow: #1111117a 0 1px 2px 0px;
    border-radius: 12px;
}

.nav__header a span {
    padding: 2px 5px;
    background-color: #9356DC;
    position: absolute;
    margin-left: -25px;
    border-radius: 50px;
    color: white;
}

.nav__header i {
    margin: 0 10px;
}

.nav__header .fa-sharp.fa-solid.fa-store {
    color: #9356DC;
}

section {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

}

section h2 {
    margin-left: 13px;
    font-size: 16px;
}

/* section card restaurant mobile */
.resto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-resto {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: #1111117a 0 1px 4px 0px;
    margin: 6px 0;
}

/* image card restaurant */
.card-resto img {
    width: 100%;
    height: 171px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

h4 {
    font-size: 13px;
}

.card-resto span {
    position: absolute;
    background-color: #99E2D0;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 15px;
    color: #45796c;
}

.nouveaute {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.card-texte {
    display: flex;
    flex-direction: row;
    padding: 16px 12px;
    justify-content: space-between;
}


/* animation coeur page d'accueil mobile*/
.card-texte i {
    color: black;
    cursor: pointer;
    transition: 500ms;
}

.card-texte i:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    color: white;
    font-weight: 600;
    transform: scale(1.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 500ms;
}

/*bouton commander mobile*/
.main__btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-style: none;
    height: 30px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC 135%);
    transition: 500ms;
}

.btn:hover {
    color: #1d1d11;
    box-shadow: 0 4px 6px 0 #1d1d1d;
    transition: 500ms;
}



/*   css responsive tablette */

@media only screen and (min-width:768px) {
    .logo img {
        width: 35%;
        height: auto;
    }

    .img-resto img {
        height: 340px;
    }

    .nav__header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav__header h2 {
        margin-left: 32px;
        font-size: 16px;
    }

    .nav__header ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .nav__header ul li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 12px;
        padding: 3px 6px;
        position: relative;
        width: 27%;
        margin-left: 30px;
    }

    .nav__header a {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 11px;
        text-decoration: none;
        color: #111;
        width: 100%;
        padding: 12px 12px;
        box-shadow: #1111117a 0 1px 2px 0px;
        border-radius: 12px;
    }

    .nav__header a span {
        margin-left: -20px;
    }

    section h2 {
        margin-left: 32px;
        font-size: 16px;
    }



}

/*   css responsive desktop */

@media only screen and (min-width: 992px) {
    .logo img {
        width: 35%;
        height: auto;
    }

    .img-resto img {
        height: 825px;
    }

    p {
        font-size: 12px;
        color: #0b0b0b80;
    }
    
    /*navigation de la page d'acceuil*/
    .nav__header {
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__header ul {
        width: 80%;
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }

    .nav__header ul li {
        width: 30%;
        margin-left: unset;
    }

    .nav__header ul a {
        margin-left: -18px;
        padding: 18px 12px;
        width: 80%;
        font-size: 13px;
    }

    .nav__header a span {
        padding: 8px 11px;
        margin-left: -27px;
    }
    
    /*card de la page d'acceuil*/
    .nouveaute {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .card-resto span {
        position: absolute;
        background-color: #99E2D0;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 2px;
        margin-top: 20px;
        margin-right: 15px;
        color: #45796c;
    }

    .resto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .card-resto {
        width: 20%;
        height: 235px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        position: relative;
        box-shadow: #1111117a 0 1px 4px 0px;
    }

}

/**
 *  définition de la structure de base des pages
 *  un conteneur main-header, éléments périphériques à la page
 *  et un conteneur main, corps central de la page
 */

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.header .header-content {
    width: 72%;

    display: flex;

    justify-content: flex-end;

    align-items: center;
    padding: 10px 0;
}

/* la flèche de retour arrière présente sur les
    /  pages des restaurants */
.header .header-content__backward {
    margin: 0 23.5% 0 1.38rem;
    color: #000;
}

/* désactivation du retour arrière pour la
        /  page d'accueil */
.header .header-content__backward i {
    font-size: 1.3rem;
    font-weight: 900;
}

.header .header-content__backward--disable {
    display: none;
}

.header .header-content__logo {
    width: 61.11%;
}

@media screen and (min-width: 768px) {
    .header .header-content__logo {
        width: 38.89%;
    }
}

@media screen and (min-width: 992px) {
    .header .header-content__logo {
        width: 25%;
    }
}

/* style titre de menu */
.dish {
    width: 100%;
    margin-bottom: 1.2rem;
}

.dish__title {
    width: 2.5rem;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 4px;
    margin: 0 0 0.8rem 0;
    font-size: 1.24rem;
    font-variant: small-caps;
}

.dish__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .dish__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.dish__list .dish-item {
    -webkit-animation: dish-anim backwards cubic-bezier(0.62, 0.24, 0.58, 0.73) 600ms;
    animation: dish-anim backwards cubic-bezier(0.62, 0.24, 0.58, 0.73) 600ms;
}

/* animation des plats*/
@media screen and (min-width: 768px) {
    .dish__list .dish-item {
        width: 48%;
    }
}

.dish__list .dish-item--11 {
    animation-delay: 250ms;
}

.dish__list .dish-item--12 {
    animation-delay: 500ms;
}

.dish__list .dish-item--13 {
    animation-delay: 750ms;
}

.dish__list .dish-item--14 {
    animation-delay: 1000ms;
}

.dish__list .dish-item--21 {
    animation-delay: 1000ms;
}

.dish__list .dish-item--22 {
    animation-delay: 1250ms;
}

.dish__list .dish-item--23 {
    animation-delay: 1500ms;
}

.dish__list .dish-item--31 {
    animation-delay: 1500ms;
}

.dish__list .dish-item--32 {
    animation-delay: 1750ms;
}

.dish__list .dish-item--33 {
    animation-delay: 2000ms;
}

@keyframes dish-anim {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* style ménu restaurant  */
.dish-item {
    width: 100%;
    display: flex;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 4px 0 #D6D6D6;
    box-shadow: 0 5px 4px 0 #D6D6D6;
    margin-bottom: 0.9rem;
}

.dish-item .content {
    width: 100%;
    min-width: 60%;
    padding: 0.85rem 1.25rem 0rem 0.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transition: width 800ms ease-in-out;
    -o-transition: width 800ms ease-in-out;
    transition: width 800ms ease-in-out;
    cursor: pointer;
}

/*style appliquer sur les descriptions*/
.dish-item .content__description {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: inline-block;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.dish-item .content__description b {
    font-size: 1.1rem;
}
/* style appliquer sur le prix*/
.dish-item .content__price {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

/* style et  animation du checked*/
.dish-item:hover>.checked {
    width: 73px;
}

@media screen and (min-width: 992px) {
    .dish-item:hover>.checked {
        width: 95px;
    }
}

.dish-item:hover>.checked::after {
    font-size: 21px;
    -webkit-transform: translateX(-100%) scaleX(1) rotate(1turn);
    -ms-transform: translateX(-100%) scaleX(1) rotate(1turn);
    transform: translateX(-100%) scaleX(1) rotate(1turn);
}

@media screen and (min-width: 992px) {
    .dish-item:hover>.checked::after {
        -webkit-transform: translateX(-135%) scaleX(1) rotate(1turn);
        -ms-transform: translateX(-135%) scaleX(1) rotate(1turn);
        transform: translateX(-135%) scaleX(1) rotate(1turn);
    }
}

.dish-item .checked {
    height: 100%;
    width: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: #99E2D0;
    -webkit-transition: width ease-in-out 800ms 100ms;
    -o-transition: width ease-in-out 800ms 100ms;
    transition: width ease-in-out 800ms 100ms;
}

.dish-item .checked::after {
    display: block;
    font: var(--fa-font-regular);
    content: "\f058";
    color: #fff;
    font-weight: 600;
    font-size: 21px;
    line-height: 68px;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateX(110%) scaleX(0) rotate(0);
    -ms-transform: translateX(110%) scaleX(0) rotate(0);
    transform: translateX(110%) scaleX(0) rotate(0);
    -webkit-transition: -webkit-transform 800ms 100ms, -webkit-transform 0ms -400ms, -webkit-transform ease-in-out 800ms 100ms;
    transition: -webkit-transform 800ms 100ms, -webkit-transform 0ms -400ms, -webkit-transform ease-in-out 800ms 100ms;
    -o-transition: transform 800ms 100ms, transform 0ms -400ms, transform ease-in-out 800ms 100ms;
    transition: transform 800ms 100ms, transform 0ms -400ms, transform ease-in-out 800ms 100ms;
    transition: transform 800ms 100ms, transform 0ms -400ms, transform ease-in-out 800ms 100ms, -webkit-transform 800ms 100ms, -webkit-transform 0ms -400ms, -webkit-transform ease-in-out 800ms 100ms;
}

/* section du haeder du restaurant*/
.restaurant .main-header {
    max-height: 13.7rem;
}

@media screen and (min-width: 768px) {
    .restaurant .main-header {
        max-height: 900px;
        width: 100%;
    }
}

.restaurant .main-header img {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}
/* section des articles du restaaurant*/
.restaurant .main {
    background: #F6F6F6;
    border-radius: 40px 40px 0 0;
    padding: 2.2rem 0.8rem 3.6rem 1.2rem;
    position: relative;
}

@media screen and (min-width: 992px) {
    .restaurant .main {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-radius: 40px 40px 0 0;
        padding: 2.3rem 2.5rem;
    }

    .restaurant .main-header {
        max-height: 900px;
        width: 100%;
        margin-bottom: 0;
    }
}

.restaurant .main__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.95rem;
}

.restaurant .main__name h1 {
    margin: 0 2.2rem 0 0;
    padding-top: 0.1rem;
    font-family: "Shrikhand", cursive;
    font-weight: 700;
    font-style: oblique;
    font-size: 1.68rem;
}

/* bouton de commande restaurant*/
.restaurant .main__btn {
    margin-top: 1.7rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.restaurant .main__btn .btn {
    width: 55%;
    max-width: 11.2rem;
}

/* style footer mobile*/

.footer {
    width: 100%;
    background-color: #353535;
    position: relative;
}
.footer__index {
    /*footer page index*/
    width: 100%;
    background-color: #353535;
    position: relative;
}

.footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.footer__index .container__index {
    /* container page index*/
    width: 100%;
    display: flex;
    flex-direction: column;

}

.footer h2 {
    font-family: "Shrikhand", cursive;
    font-size: 1.12rem;
    color: white;
    padding: 10px 20px;
}

.footer__index h2 {
    /* h2 page index*/
    font-family: "Shrikhand", cursive;
    font-size: 1.12rem;
    color: white;
    padding: 10px 20px;
}

.container nav {
    padding: 15px;
}
.container__index nav {
    padding: 15px;
}

.footer__menu {
    margin: 0;
    width: 100%;
}

.footer__menu__item {
    margin: 0 0.32rem 0.45rem;
    font-size: 1rem;
    font-weight: 800;
    list-style: none;
}

.footer__menu__item a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 500ms;
}

.footer__menu__item a:hover {
    transition: 500ms;
    color: rgba(210, 210, 210, 0.727);
}

.footer__menu__item i {
    line-height: 19px;
    width: 20px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 900;
    margin-right: 0.36rem;
}



/* responsive fouter tablette */

@media screen and (min-width: 768px) {
    .footer h2 {
        font-size: 1.5rem;
        
    }

    .footer__menu {
        display: flex;
        flex-direction: row;
        margin-bottom: 18px;
    }

    .footer__menu__item i {
        font-size: 1rem;
        width: 27px;
    }

    .footer__menu__item {
        font-size: 1.1rem;
        list-style: none;
    }

    .footer__menu__item a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin: 0 8px;
    }
}

/* responsive fouter dekstop */

@media screen and (min-width: 992px) {
    .footer h2 {
        font-size: 1.5rem;
        
    }

    .footer {
        width: 100%;
       background-color: unset;
       display: flex;
       justify-content: center;
    }
    .footer__index {
        width: 100%;
       background-color: #353535;
    }

    .footer .container {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        background-color: #353535;

    }
    .footer__index .container__index {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        margin-left: 5px;
        background-color: #353535;
        padding: 20px 0;
    }

    .footer__menu {
        width: 100%;
        display: flex;
        align-items: center;
        margin: unset;
    }

    .footer__menu__item i {
        margin-right: 0.5rem;
    }

    .footer__menu__item {
        list-style: none;
        ;
    }

    .footer__menu__item a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 1.1rem;
        display: flex;
        width: 100%;
        font-size: 14px;
    }
}